
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~highlight.js/styles/monokai-sublime.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-row {
  display: block !important;
}