<template>
    <div class="editor" ref="editor"></div>
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: ''
            },
            content: '',
            delta: '',
            default: ''
        },

        data() {
            return {
                editor: null
            };
        },
        mounted() {

            hljs.configure({   // optionally configure hljs
                languages: ['javascript', 'ruby', 'python', 'php']
            });

            this.editor = new Quill(this.$refs.editor, {
                modules: {
                    syntax: true,
                    toolbar: [
                        [{ header: [1, 2, false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block']
                    ]
                },
                placeholder: "Write text",
                theme: 'snow'
            });

            this.editor.root.innerHTML = this.value;
            this.editor.setContents(JSON.parse(this.default));
            this.editor.on('text-change', () => this.update());
        },

        methods: {
            update() {
                let inputContent = "input[name='" + this.content + "']";
                let inputDelta = "input[name='" + this.delta + "']";
                $(inputContent).val(this.editor.getText() ? this.editor.root.innerHTML : '');
                $(inputDelta).val(JSON.stringify(this.editor.getContents()));
                this.$emit('input', this.editor.getText() ? this.editor.root.innerHTML : '');
            }
        }
    }
</script>

<style>
    .editor {
        min-height: 225px;
    }
</style>